VANNA_MODEL=<your vanna-trained model>
VANNA_API_KEY=<your vanna api key>

OPENAI_API_KEY=<your openai api key>
OPENAI_MODEL=<the openai model to use>

SNOWFLAKE_ACCOUNT=<your snowflake account>
SNOWFLAKE_USERNAME=<your snowflake username>
SNOWFLAKE_PASSWORD=<your snowflake password>
SNOWFLAKE_DATABASE=<your snowflake database>
SNOWFLAKE_WAREHOUSE=<your snowflake warehouse>

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=<your postgres database>
POSTGRES_USER=<your postgres username>
POSTGRES_PASSWORD=<your postgres password>

# Don't change if you are not sure what this does
FLASK_HOST=0.0.0.0
FLASK_PORT=5000